node_modules
vendor
dist

.git
.gitignore

Dockerfile
.dockerignore
docker-compose.yml


.vscode

.husky
.prettierrc
.prettierignore

commitlint.config.js
.lintstagedrc.json
eslint.config.mjs

.env.local
.env.example
